<h4>Sort by:</h4>

<select name="sort" id="sort" class="form-control">
    {{#each sortBy}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>

<ul class="list">
    {{#each characters}}
        <li class="character">{{> CharacterListItem}}</li>
    {{/each}}
</ul>