<div class="name data-point">
    <span>Name: </span>{{name}}
</div>

<div class="house data-point">
    <span>House: </span>{{house}}
</div>

<div class="actor data-point">
    <span>Actor: </span>{{actor}}
</div>

<div class="episodes data-point">
    <span>Episodes: </span>{{episodes}}
</div>

<blockquote class="quote data-point">
    <p>{{quote}}</p>
</blockquote>