<div class="sign-in">
    <h1>
        Sign In

        <span class="byline">Don't have an account? <a href="#signup">Sign Up</a></span>
    </h1>

    {{> SignInForm}}

    {{> SignInMethods}}
</div>