<div class="signInMethods">
    <ul>
        <li>
            <a href="#signin-facebook" class="btn btn-primary pill icon facebook">Sign In with Facebook</a>
        </li>

        <li>
            <a href="#signin-google" class="btn btn-primary pill icon google">Sign In with Google</a>
        </li>

        <li>
            <p>
                Start off with familiar faces by signing in with Facebook or Google. We will never post anything to your Facebook or Google account.
            </p>
        </li>
    </ul>
</div>