<form>
    <ul>
        <li>
            <label for="name">First And Last Name</label>
            <input type="text" name="name" id="name" />
        </li>
            
        <li>
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email" />
        </li>

        <li>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </li>

        <li class="sign-in-btn">
            <button class="btn btn-primary submit">Sign In</button>
        </li>

        <li class="sign-up-btn">
            <button class="btn btn-primary submit">Create My Account</button>
        </li>
    </ul>
</form>