<div class="sign-up">
    <h1>
        Sign Up

        <span class="byline">Already have an account? <a href="#signin">Sign In</a></span>
    </h1>

    {{> SignInForm}}

    {{> SignInMethods}}
</div>