$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "_partials/js-test-vars";
// endbower

html, body {
    text-align: center;
    margin: 0;
    padding: 0;
}

#container {
    width: 700px;
    text-align: left;
    margin: 0 auto;
}

.main-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: $default-spacing;
    
    li {
        display: inline-block;
        margin-right: 10px;
    }
}

.signed {
    text-align: right;
}

#character-list {

    margin: $default-spacing;

    select {
        width: auto;
        display: inline-block;
        margin-right: $small-spacing;
    }

    ul {
        margin: $default-spacing 0 0;
        padding: 0;
        list-style: none;
    }

    .character {
        margin: 0 0 $default-spacing 0;
        background-color: $light-blue;
        border-radius: $default-radius;
        border: 1px solid $dark-blue;
        padding: $small-spacing;

        .data-point {
            text-transform: uppercase;
            font-size: $default-font-size;
            display: inline-block;
            margin-right: $small-spacing;

            span {
                font-weight: bold;
            }

            &.quote, &.name {
                display: block;
                text-transform: none;
            }

            &.name {
                span {
                    display: none;
                }

                font-weight: bold;
                font-size: $large-font-size;
            }

            &.quote {
                margin-top: $small-spacing;
            }

        }
    }
}