$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "_partials/fonts";
@import "_partials/mixins";
@import "_partials/ui-test-vars";
// endbower

html, body {
    text-align: center;
    margin: 0;
    padding: 0;
    font: 12px Arial, sans-serif;
}

#container {
    width: 1200px;
    text-align: left;
    margin: 0 auto;

    #header {
        position: relative;
        height: 100px;

        h1 {
            @include hide-text;

            position: absolute;
            top: 40px;
            left: 40px;
            width: 131px;
            height: 25px;
            margin: 0;
            background: url(../images/logo.gif) no-repeat;
        }
    }

    #nav {
        position: absolute;
        top: 40px;
        right: 40px;
        list-style: none;

        li {
            @include ProximaNovaBold;

            color: #d1d2e1;
            display: inline-block;

            &.sep {
                margin: 0 10px;
            }
        }

        li + li:before {
            content: " / ";
            padding: 0 10px;
        }

        a {
            text-transform: uppercase;
            color: $dark-blue;
        }
    }

    #hero {
        background: url(../images/hero.jpg) no-repeat;
        height: 384px;
        width: 1200px;

        p {
            @include GloriolaStdLight(36px);

            color: #FFF;
            text-align: center;
            width: 100%;
            padding-top: 86px;
        }
    }

    #content {
        min-height: 400px;
        background: url(../images/device-screens.jpg) 150px 67px no-repeat;
        padding-top: 105px;
        line-height: 24px;

        .copy {
            width: 405px;
            font-size: 14px;
            color: $dark-blue;
            margin: 0 0 0 650px;

            ul {
                list-style-image: url(../images/checkmark.gif);
            }
        }
    }

    #cta {
        margin-top: 120px;
        list-style: none;
        text-align: center;

        li {
            @include border-radius(30px);

            display: inline-block;
            margin: 0 10px;
            background-color: rgba(11, 26, 59, 0.3);
            border: 1px solid #fff;
            padding: 10px;

            &:hover {
                background-color: rgba(11, 26, 59, 0.6);
            }
        }
    }

    #footer {
        margin-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        color: $footer-gray;

        ul {
            list-style: none;
            display: inline-block;

            li {
                display: inline-block;
            }

            li + li:before {
                content: " . ";
                padding: 0 10px;
            }
        }

        a {
            color: $footer-gray;
        }
    }

}

a.btn {
    &.pill {
        @include border-radius(20px);
    }

    &.icon {
        @include ProximaNovaBold(10px);

        text-transform: uppercase;
        padding: 12px 20px 12px 50px;
        background-repeat: no-repeat;
        background-position: 15px 7px;
    }

    &.google {
        border-color: $google-orange;
        background-color: $google-orange;
        background-image: url(../images/icon-google.gif);
    }

    &.facebook {
        border-color: $fb-blue;
        background-color: $fb-blue;
        background-image: url(../images/icon-fb.gif);
    }
}

#ui-blocker {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    min-height: 100%;
}

div.modal {
    @include transition(opacity 1s);

    display: block;
    opacity: 0;
    background: #fff;
    width: 730px;
    height: 480px;
    overflow: visible;
    border: 1px solid #d3d3d3;

    &.show {
        opacity: 1;
    }

    h1 {
        @include GloriolaStdLight(36px);

        color: $dark-blue;
        position: relative;
        margin-bottom: 40px;

        span.byline {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            position: absolute;
            top: 15px;
            left: 150px;

            a {
                color: #4776ef;
            }
        }
    }

    div.close-btn {
        @include transition(opacity 0.2s);
        @include hide-text;

        cursor: pointer;
        position: absolute;
        top: -10px;
        right: -10px;
        background: url(../images/close.png) no-repeat;
        width: 29px;
        height: 29px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    div.my-modal-content {
        margin: 70px;
        text-align: left;

        form, div.signInMethods {
            display: inline-block;
            vertical-align: top;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                margin-bottom: 20px;
            }
        }

        div.signInMethods {
            .btn, p {
                width: 210px;
            }

            p {
                margin-top: 20px;
                color: $dark-blue;
            }
        }

        form {
            width: 320px;
            border-right: 1px dotted #666;
            padding-right: 45px;
            margin-right: 45px;

            label {
                @include ProximaNovaBold(12px);
                
                color: $dark-blue;
                font-weight: bold;
                text-transform: uppercase;
                display: block;
            }

            input[type="text"], input[type="password"] {
                border: 0;
                border-bottom: 1px solid $dark-blue;
                width: 100%;
                font: 14px Arial, sans-serif;
                padding: 6px;

                &:focus {
                    border: 0;
                    border-bottom: 1px solid $dark-blue;
                    background: #c4eeff;
                }
            }

            .btn.submit {
                @include ProximaNovaBold(12px);

                background: #4776ef;
                text-align: center;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                text-transform: uppercase;
                margin-top: 20px;
            }
        }

        div.sign-in, div.sign-up {
            vertical-align: top;
        }

        div.sign-in .signInMethods li:last-child,
        div.sign-in form li:first-child,
        div.sign-in li.sign-up-btn,
        div.sign-up li.sign-in-btn {
            display: none;
        }
    }
}