<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SHIFT Frontend Tests</title>
        <link rel="stylesheet" href="styles/js-test.css">
        <script src="bower_components/angular/angular.js"></script>        
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="scripts/angular-app.js"></script>
    </head>
    <body ng-app="myApp">

        <div id="container">
            <h1>Angular Version</h1>

            <div id="character-list" ng-controller="CharacterListCtrl">
                <h4>Sort by:</h4>

                <select name="sort" id="sort" class="form-control" ng-model="sortBy">
                    
                    <option value="name">name</option>

                    <option value="house">house</option>
                
                    <option value="actor">actor</option>
                
                    <option value="episodes">episodes</option>
                    
                </select>

                <ul class="list">
                    <li class="character" ng-repeat="character in characters | orderBy:sortBy">
                        <div class="name data-point">
                            <span>Name: </span>{{character.name}}
                        </div>

                        <div class="house data-point">
                            <span>House: </span>{{character.house}}
                        </div>

                        <div class="actor data-point">
                            <span>Actor: </span>{{character.actor}}
                        </div>

                        <div class="episodes data-point">
                            <span>Episodes: </span>{{character.episodes}}
                        </div>

                        <blockquote class="quote data-point">
                            <p>{{character.quote}}</p>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
