@font-face {
    font-family: 'Gloriola Std Light';
    src:
        url(../fonts/gloriola-l.ttf),
        url(../fonts/gloriola-l.eot),
        url(../fonts/gloriola-l.woff),
        url(../fonts/gloriola-l.svg);
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src:
        url(../fonts/proximanova-b.ttf),
        url(../fonts/proximanova-b.eot),
        url(../fonts/proximanova-b.woff),
        url(../fonts/proximanova-b.svg);
}