@mixin hide-text{
    overflow: hidden;
    text-indent: -9000px;
    display: block;
}

@mixin transition($opts) {
    -webkit-transition: $opts;
    -moz-transition: $opts;
    -ms-transition: $opts;
    -o-transition: $opts;
    transition: $opts;
}

@mixin border-radius($radius: 10px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin ProximaNovaBold($font-size: 12px) {
    font: $font-size 'Proxima Nova Bold', sans-serif;
}

@mixin GloriolaStdLight($font-size: 12px) {
    font: $font-size 'Gloriola Std Light', sans-serif;
}